$tam : "min";
$flexbox : "sectionDivMaster";
$sectionDiv : "sectionDiv";
$columnas: 12;
$headerColor: lightyellow;
$mainColor: lightblue;
$footerColor: grey;
$titleColor: red;
$width: 30%;
$flexAlin: space-between;
